// Templates Special-price

#special-price{
    .grid .grid-item{
        margin-right: 20px;
        margin-top: 20px;
    }
}

#banner_adds .container img {
margin: 40px 0;
// align-items: center;
// display: inline-block;

}